body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #5E5E5E;
}

header {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#menuBars {
    position: absolute;
    left: 5px;
    transition: 0.3s;
}

#menuBars:hover {
    color: #1C254C;
}

.sideMenu {
    width: 0%;
    height: 100%;
    background-color: #1C254C;
    position: absolute;
}

.fa-plus-square-o {
    height: 19px;
    width: 19px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.menulist {
    display: none;
    transition: 0.2s;
}

.menulist:hover {
    color: #7a90ff;
    cursor: pointer;
}


/* Menu slides */

.menulistOn {
    display: flex;
    justify-content: center;
}

#menuSlideIn {
    animation-name: slideIn;
    animation-duration: 0.4s;
}

@keyframes slideIn {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

#menuSlideOut {
    animation-name: slideOut;
    animation-duration: 0.4s;
}

@keyframes slideOut {
    from {
        width: 40%;
    }
    to {
        width: 0%;
    }
}


/* Menu slides end */

main {
    padding-top: 20px;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#titre {
    border-radius: 0px;
    border: none;
}

#comment {
    border-radius: 0px;
    border: none;
}

.buttonAllowed {
    border: none;
    border-radius: 0px;
    transition: 0.3s;
    height: 42px;
    color: black;
}

.buttonAllowed:hover {
    background-color: #1C254C;
    color: white;
}


/* Button Animation */

.buttonDenied {
    animation-name: red;
    color: white;
    animation-duration: 0.3s;
    border: none;
    border-radius: 0px;
    height: 42px;
}

@keyframes red {
    0% {
        background-color: #1C1C1C;
        color: white;
    }
    100% {
        background-color: red;
        color: white;
    }
}


/* Button Animation end */

input {
    height: 40px;
    background-color: white;
}

label {
    padding-top: 10px;
}

main {
    padding-top: 20px;
}

button:hover {
    background-color: #1C1C1C;
    color: white;
}

.buttonInput {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.buttonInput * {
    width: 100%;
}

.buttonInput>#buttonSubmit {
    width: 30%;
}

ul {
    padding: 0;
}

li {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    font-weight: bolder;
}

li * {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
    outline: 0;
    border: none;
    border-radius: 0px;
    transition: 0.3s;
    height: 42px;
    width: 20%;
    display: flex;
    justify-content: center;
}

button:focus {
    outline: 0 !important;
}

#buttonSubmit {
    outline: 0 !important;
}

*:focus {
    outline: none !important;
}

#buttonSubmit::-moz-focus-inner {
    border: 0;
}